pipeline/Optimized Architecture.json
{
	"name": "Optimized Architecture",
	"properties": {
		"activities": [
			{
				"name": "get status of VM",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/da370257-2498-44ad-9942-2460d992c3c5/resourceGroups/azuretocomputer/providers/Microsoft.Compute/virtualMachines/MyvmName/InstanceView?api-version=2021-07-01",
					"method": "POST",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get status of VM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('get status of vm').output.statuses[1].displayStatus,'VM stopped')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}